<div class="jumbotron">
    <h1>TinyPng Api</h1>
    <h2>Count Remain</h2>
    <h2>@ViewBag.CountRemain</h2>
    <p> @Html.ActionLink("Sync Compress Remain", "SyncCompressRemain", "Home", new { area = "" }, null) </p>

</div>
 
